@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    
    
    
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(216, 216, 216);
}

*::-webkit-scrollbar-thumb {
    background-color:#dc3545;
    border-radius: 5px;
    
}

.foto-mia {
    width:13 0px;
    height:100px;
    

}

.container {
    height: 100vh;
    display: flex;
    position:relative;
    z-index: 2;
}

.info {
    width: 235px;
    background-color:#121212;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.info-persona {
    margin-bottom: 30px;
    
}

.info-persona .foto-mia {
    border-radius: 60%;
    display: block;
    margin: auto;
    border: 4px solid #484848;
    margin-bottom:15px;
    

}

.info-persona span {

    font-size: 19px;
    color: #fff;
   
    

}

.info-persona p{
    font-size: 16px;
    color: #8a8a8a;
    padding-top: 10px;
}

nav ul {
    list-style: none;

}

nav li{
    margin: 15px 0;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;    
}

nav ul li a:hover {
    color: #dc3545;
    transition: all 0.3s;
}

#selectionn {
    color:#dc3545;
}

.portada {   
    width: 100vw;
    background: linear-gradient(
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)), url(showcase.jpg);
        background-size:cover;
        background-position: center center;
        display: flex;
        flex-direction: column;   
        justify-content: center;
        text-align: center;
}

.portada h1 {
    font-size: 68px;
    color: #fff;

}
.portada h1 .rojo {
    color:#dc3545 ;
}

.portada p {
    font-size: 32px;
    color: #fff;
}

.boton1 {
    display: block;
    width: 180px;
    margin: 0 auto;
    background-color: transparent;
    border:4px solid #dc3545;
    margin-top: 30px;
    padding: 10px 0;
    border-radius: 50px;
    color:#fff;
    font-size: 20px;

}

.boton1:hover {
    background-color: rgb(29, 28, 28);
    transition: all 0.4s;
}


.h44 {
    color: #fff;
	font-size:1.5rem ;
	text-transform: uppercase;
	font-weight:500;
	padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}


.pa { 
    color: #fff;
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
    font-family: 'Montserrat', sans-serif;
}



/* Projects */
#projects {
	padding: 30px 0;
    position:relative;
    
}

.projects-row {
	display: flex;
    
}

.projects-row img {
	width: 100%;
    
}

/* About */
#about {
	padding: 80px 0;
	
}

.about-row {
	margin: auto;
    width: 90%;
}



#contact {
	padding: 80px;
    position:relative;
    z-index: 2;
}

.contact-row {
	display: flex;
    
}
.contact-row-icon {
	width: 45%;
	text-align: center;
}

.contact-row-icon img {
	height: 60px;
    
}



.projects-row {
    display: flex;
    

    }
    
    .info {
        padding-top:50px;
    }
    
    .containerr {
        margin: auto;
        max-width: 1500px;       
        padding: 0 1rem 0 1rem;
        z-index:2;
        
        
    }
    
    .large {
        font-size: 20px;
    }


    p {
        color:#fff;
        
    }

    #contact {
        display: flex;     
        flex-wrap: wrap;
        background-color: rgba(0,0,0, 0.09) ;      
        width: 820px;
        height: 310px;
        margin: auto;
        padding: 20px 80px;
        border-radius: 10px;
        margin-top: 50px;
    }

    .form {
        
        min-width: 400px;
        flex: 1;      
        padding-bottom: 100px;
        
    }

    .form_input {
        

        margin: 9px 0;
        width: 700px;
        padding:4px;
        border: none;
        border-bottom: 3px solid #64171e;
        background: transparent;
        color: #fff;

    }

    .form_input:focus {
        background: linear-gradient(to bottom, transparent,rgb(36, 36, 36));
        outline: none;
        border-bottom: 3px solid #dc3545;
        transition: all 0.6s;
    }

    .form textarea {
        min-height: 100px;
        resize: none;
    }

    .form_input[type="submit"] {
        background-color:transparent;       
        border: solid #dc3545;
        padding: 10px;
        width: 100px;        
        border-radius: 10px;
        margin: 10px 600px;
        
        
    }

    .form_input[type="submit"]:hover {
        background-color:#dc3545;
        border: solid #dc3545;
        padding: 10px;
        width: 100px;
        border-radius: 10px;
        margin: 10px 600px;
        transition: all .8s;
    }

    .form_input[type="submit"]:focus {
        background-color:#dc3545;
        border: solid #dc3545;
        padding: 10px;
        width: 100px;
        border-radius: 10px;
        margin: 10px 600px;
        transition: all .8s;
    }

    .form_input[type="submit"]:active {
        background: linear-gradient(to bottom,#dc3545,#aa1a2a);
    }

    .button_1 {
        color: #fff;
        text-decoration: none;
    }

    #p_1 {
        color: #ccc !important;
        font-family:'Open Sans', sans-serif  !important;
        font-size: 1.1rem !important ;
        line-height: 1.6 !important ;
        margin-top: .5rem !important;
        padding-bottom: 50px !important;
        
        
        
    }

    .conteiner_ul {
        display: flex;
        flex-direction: column;   
        justify-content: center;
        text-align: center;
        
    }


    .skills-list {   
        
        border-radius: 1rem;
        display: grid;
        gap: 0 1rem;
        grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
        list-style: none;
        overflow: hidden;
       
    }
    
    .box {
        background: rgba(0,0,0,.07);
        padding: 1.8rem 2rem;
        
        
    }

    

    .section {
        position: relative;
        width: 100%;
        display: block;
        
    }

    .skills-list .item_skill .icon-skill {
        

        align-items: center;
        display: flex;
        height: 3rem;
        padding-left: 0.3rem;
        width: 3rem;
    }

    .skills-list .item_skill .html {
        

        border-left: 3px solid #ff4700;
        padding-bottom: 10px;
        height: 70%;
    }

    .skills-list .item_skill .css {
        border-left: 3px solid #0004ff;
        padding-bottom: 10px;
        height: 70%;
    }

    .skills-list .item_skill .javascript {
        border-left: 3px solid #e9b300;
        padding-bottom: 10px;
        height: 70%;
        position: relative;
        right: 20px;
    }

    .skills-list .item_skill .angular {
        border-left: 3px solid #ff0000;
        padding-bottom: 10px;
        height: 70%;
    }

    .skills-list .item_skill .java {
        border-left: 3px solid #ffffff;     
        padding-bottom: 10px;
        height: 70%;
    }

    .icons-html {
        width: 50px;
        height:50px;
        
    }

    .icons-css {
        width: 50px;
        height:50px;
        padding-left: 7px;
        
    }

    .icons-javas {
        width: 90px;
        height:50px;
        right:15px ;
        position: relative;
        
    }

    .skill-name-javas {
        position: relative;
        right: 25px;
    }

    .skill-name-css {
        position: relative;
        left: 10px;
    }

    .skill-name-java {
        position: relative;
        left: 10px;
    }

    .icons-angular {
        width: 50px;
        height:50px;
        position: relative;
        top: 3px;
        
    }

    .icons-java {
        width: 50px;
        height:50px;
        
    }

    .h22 {
        display: inline-block;
        position: relative;
        color: #fff;
        font-size:1.8rem;
	    text-align: center;
	    text-transform: uppercase;
	    font-weight: 600;
	    padding-bottom:50px;   
        font-family: 'Montserrat', sans-serif;  
        
        
    }

    .h22::after,.h22::before{
        content: '';
        position: absolute;
        width: 120px;
        height: 3px;
        background-color: #dc3545;
        top:0.6em;
        transform:scale(0);
        transition: all 0.3s ease-in;
    }

    

    .h22:hover::before, .h22:hover::after{
        transform:scale(1)
        
        
    }

    .h22::before{
        left:-140px;
    }

    .h22::after {
        right:-140px;
    }

    .conteiner_ul {
        position: relative;
        margin-left: 290px;   
        background-color: rgba(0,0,0, 0.09) ;   
        width: 750px;
        height:100px;
        overflow: hidden;
        border-radius: 10px;
        
    }

    #h1-id {
        top:40px;
    }


    .cuerpo {
        
        
        top:300px;
        text-align: center;        
        overflow: hidden;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    

    body {
        min-height: 100vh;
        position: relative;
        
    }

    .capa {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1c1c1d;
        opacity: 0.7;
        
    }

    .barra-top {             
        position: absolute;       
        z-index: 2;
        width: 100%;
        border-bottom: 3px solid #af222e ;
        
     
    }

    .barra-bottom {             
        position: absolute;       
        z-index: 2;
        width: 100%;
        border-bottom: 3px solid #af222e ;
        margin-bottom: 10px;
     
    }

    footer{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0; 
        height: auto;
        width: auto;      
        padding-top: 60px;        
    }
    
    .footer-content{
        background: rgb(12, 12, 12);
        width: 100vw;       
        text-align: center;
        width: auto;
    }
    .footer-content p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;     
    }
    .footer-content span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }

    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 1rem 0;
    }
    .socials li{
        margin: 0 10px;
    }
    .socials a{
        text-decoration: none;
        color: #fff;
    }
    .socials a i{
        font-size: 1.1rem;
        transition: color .4s ease;
    
    }
    .socials a:hover i{
        color: rgb(121, 122, 122);
    }

    .footer-bottom {
        padding-bottom: 30px; 
        padding-top: 10px;
    }

    

    
    
    
    

    