



#projects {
	padding: 30px 0;
    position:relative;
    z-index: 2;
}

.containerr {
    margin: auto;
    max-width: 1500px;       
    padding: 0 1rem 0 1rem;
    z-index:2;
   
    
}


.projects-row {
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    }

    .projects-row figure {
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 15px 25px rgba(0,0,0, 0.50);
        cursor:pointer;
    }


.projects-row figure img {
	width: 100%;
    height: 100%;
    transition: all 800ms ease-out;
    
}

.projects-row figure .capa {
    position: absolute;
    width: 490px;
    height:327px;
    border-radius: 10px;
    background: rgba(182, 182, 182, 0.7);
    transition: all 800ms ease-out;
    top: 123px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.projects-row figure:hover > .capa {
    opacity: 1;
    visibility: visible;
  
}

.projects-row figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;

}

.projects-row figure:hover > img{
    transform: scale(1.3);

}

.projects-row figure .capa h3 {
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 800ms ease-out;
    margin-top: 30px;
}

.projects-row figure .capa p {
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

/* About */
#about {
	padding: 80px 0;
	
}

.about-row {
	margin: auto;
    width: 90%;
}




    
    
    .info {
        padding-top:50px;
    }
    
    
 
    
    .large {
        font-size: 20px;
    }


    p {
        color:#fff;
        z-index: 2;
    }

    #contact {
        background-color: rgba(0,0,0, 0.09) ;      
        max-width: 800px;
        max-height: 350px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;
        border-radius: 10px;
        
    }


    .form_input {
        
        
        margin: 9px 0;
        width: 700px;
        padding:4px;
        border: none;
        border-bottom: 3px solid #64171e;
        background: transparent;
        color: #fff;

    }

    .form_input:focus {
        background: linear-gradient(to bottom, transparent,rgb(36, 36, 36));
        outline: none;
        border-bottom: 3px solid #dc3545;
        transition: all 0.6s;
    }

    .form textarea {
        min-height: 100px;
        resize: none;
    }

    .form_input[type="submit"] {
        background-color:transparent;       
        border: solid #dc3545;
        padding: 10px;
        width: 100px;        
        border-radius: 10px;     
        margin: auto;
        margin-top: 20px;
        
        
    }

    .form_input[type="submit"]:hover {
        background-color:#dc3545;
        border: solid #dc3545;
        padding: 10px;
        width: 100px;
        border-radius: 10px;
        margin: auto;
        margin-top: 20px;
        transition: all .8s;
    }

    .form_input[type="submit"]:focus {
        background-color:#dc3545;
        border: solid #dc3545;
        padding: 10px;
        width: 100px;
        border-radius: 10px;
        margin: auto;
        margin-top: 20px;
        transition: all .8s;
    }

    .form_input[type="submit"]:active {
        background: linear-gradient(to bottom,#dc3545,#aa1a2a);
    }

    .button_1 {
        color: #fff;
        text-decoration: none;
    }

    #p_1 {
        color: #ccc !important;
        font-family:'Open Sans', sans-serif  !important;
        font-size: 1.1rem !important ;
        line-height: 1.6 !important ;
        margin-top: .5rem !important;
        padding-bottom: 30px !important;
        
        
        
    }

    .skills {
        width: 100%;
        max-width: 600px;
        padding: 0 20px;
        margin: auto;
    }

    .skill-name {
        font-size: 18px;
        font-weight: 700;
        color: #f1f1f1;
        text-transform: uppercase;
        margin: 20px 0;
        padding: 20px 20px 20px 20px;

    }

    .skill-bar {
        height: 14px;
        background: #282828;
        border-radius: 3px;
    }
    .skill-per {
        height: 14px;
        background: #d13639;
        border-radius: 3px;
        position: relative;
        animation: fillBars 2.5s 1;
        
    }

    .skill-per::before {
        content: attr(per);
        position: absolute;
        padding: 2px 6px;
        background: #f1f1f1;
        border-radius: 4px;
        font-size: 12px;
        top: -35px;
        right: 0;
        transform: translateX(50%);
    }

    .skill-per::after {
        content: "";
        position: absolute;
        width:10px;
        height: 10px;
        background: #f1f1f1;
        border-radius: 2px;
        top: -20px;
        right: 0;
        transform: translateX(50%) rotate(45deg);
        font-size: 12px;
    }

    @keyframes fillBars {
        from{
            width: 0;
        }
        to {
            width: 100%;
        }



    }


    .h22 {
        display: inline-block;
        position: relative;
        color: #fff;
        font-size:1.8rem;
	    text-align: center;
	    text-transform: uppercase;
        font-family: 'Montserrat', sans-serif; 
	    font-weight: 600;
	    padding-bottom:50px;   
         
        z-index: 2;
        
    }

    .h22::after,.h22::before{
        content: '';
        position: absolute;
        width: 120px;
        height: 3px;
        background-color: #dc3545;
        top:0.6em;
        transform:scale(0);
        transition: all 0.3s ease-in;
    }

    
    .h22:hover::before, .h22:hover::after{
        transform:scale(1)
        
        
    }
    

    .h22::before{
        left:-140px;
    }

    .h22::after {
        right:-140px;
    }

    .conteiner_ul {
        position: relative;
        margin-left: 290px;   
        background-color: rgba(0,0,0, 0.09) ;   
        width: 750px;
        height:100px;
        overflow: hidden;
        border-radius: 10px;
        z-index: 2;
    }

    #h1-id {
        top:40px;
    }

    .video-cuerpo {   
        width: 100%;
        background: linear-gradient(
            rgba(0,0,0,.5),
            rgba(0,0,0,.5)), url(../../assets/fondo.jpg);
            
    }
    

    

    .cuerpo {
        
        z-index: 2; 
        top:300px;
        text-align: center;        
        overflow: hidden;
    }

    

    .barra-top {             
        position: absolute;       
        z-index: 2;
        width: 100%;
        border-bottom: 3px solid #af222e ;
        
     
    }

    

    