<div class="container">

    <section class="info">
        <div class="info-persona">
            <div class="foto-mia"><app-foto-mia></app-foto-mia>
            </div>
            <span>Lucas Nicolás Segura</span> 
            <p>Programador</p>
        </div>

        <nav>
            <ul>
                <li><a href="#" id="selectionn">Inicio</a></li>
                <li><a href="#projects">Proyectos</a></li>
                <li><a href="#projects">Sobre mí</a></li>                   
                <li><a href="#projects">Contacto</a></li>
            </ul>
        </nav>
    </section>

    <section class="portada">
        <h1>Lucas <span class="rojo">Segura</span></h1>
        <p>Argentina Programa</p>
        <button name="boton1" class="boton1"> <a href="#projects" class="button_1">Sobre mí</a> </button>  

    </section>


    
</div>
