<div class="barra-bottom"></div>
    <div class="footer-content">         
        <div class="social-links">  
            <ul class="socials">
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>

        <div class="footer-bottom">
        <p>Copyright © 2022 Todos los Derechos Reservados. </p>
        <p>Hecho con amor por <span>Lucas Segura</span> </p>
    </div>
    </div>

