<div class="video-cuerpo">
    <section class="cuerpo"> 

        

    
    
    <div class="barra-top"></div>
    <br>
    <br>
    <section id="projects">
        <div class="containerr">
            <h1 id="titulop"class="h22">Proyectos</h1>



            <div class="projects-row">    
                    <figure>                
                    <img src="../../assets/portfolio-1.jpg" alt="" />
                    <div class="capa"><h3>Proyecto 1</h3> <p>Este proyecto aun no esta realizado</p></div>
                </figure>
                
                    <figure>
                    <img src="../../assets/portfolio-2.jpg" alt="" />
                    <div class="capa"><h3>Proyecto 2</h3><p>Este proyecto aun no esta realizado</p></div>
                </figure>
                
                    <figure>
                    <img src="../../assets/portfolio-3.jpg" alt="" />
                    <div class="capa"><h3>Proyecto 3</h3><p>Este proyecto aun no esta realizado</p></div>
                </figure>

            </div>



        </div>
    </section>

    <br>

    <section class="section" >
        <div class="containerr">
            <section id="sobremi">
            <h1 class="h22" id="info">Sobre mí</h1> 
            <div class="about-row">
                <div class="about-row-experience">
                    <p id="p_1">¡Hola! mi nombre es Lucas Segura, Soy oriundo de San Luis capital Argentina. Apasionado a todo lo relacionado a la tecnología, a punto a crecer profesionalmente como Desarrollador Web Fullstack.
                        <br>
                        Actualmente soy estudiante en la tecnicatura "Desarrollo de software" en la Universidad De La Punta y estudiante en el programa "Argentina Programa"   <br>
                        <br>
                        Desde muy joven me llamo la atención el diseño gráfico, así que me fui incursionando en ese mundo de forma autodidacta. <br>
                        Tengo experiencia utilizando Photosop Cs6,Adobe Ilustrator y editores de videos como Adobe After Effects y Adobe Premiere. <br>

                    </p> 
      
                    
                    <p id="p_1">Aquí hay algunas tecnologías con las que he estado trabajando recientemente:</p>     

                    <div class="skills">
                        <div class="skill">
                            <div class="skill-name">HTML</div>
                            <div class="skill-bar">
                               <div class="skill-per" per="90%" style="max-width:90%"></div> 
                            </div>
                        </div>

                        <div class="skill">
                            <div class="skill-name">CSS</div>
                            <div class="skill-bar">
                               <div class="skill-per" per="70%" style="max-width:70%"></div> 
                            </div>
                        </div>

                        <div class="skill">
                            <div class="skill-name">Javascript</div>
                            <div class="skill-bar">
                               <div class="skill-per" per="60%" style="max-width:60%"></div> 
                            </div>
                        </div>

                        <div class="skill">
                            <div class="skill-name">Angular</div>
                            <div class="skill-bar">
                               <div class="skill-per" per="60%" style="max-width:60%"></div> 
                            </div>
                        </div>

                        <div class="skill">
                            <div class="skill-name">Java</div>
                            <div class="skill-bar">
                               <div class="skill-per" per="80%" style="max-width:80%"></div> 
                            </div>
                        </div>


                    </div>
        
                </div>             
            </div>
        </section>
        </div>
    </section>

    <br>

    
    <h1 class="h22" id="h1-id">Contacto</h1>
    <br>
    <br>

    <section id="contact">
        
        <form class="form">
            <div class="form_section">
                <input type="email" class="form_input" placeholder="Email">
            </div>
            <div class="form_section">
                <input type="text" class="form_input" placeholder="Asunto">
            </div>
            <div class="form_section"  >
                <textarea class="form_input" placeholder="Escriba su mensaje..." ></textarea>
            </div>

            <div class="form_section">
                <input type="submit" class="form_input">
            </div>

            

        </form>
    
    </section>


</section>
    
<br>
<br>

</div>



